<!doctype html>
<html>
  <head>
    <title>OpenWireless.org Map</title>
    <style type=text/css>
      a { color: white; }
      body {
        background-color: black;
        background-image: url(https://openwireless.org/sites/all/themes/openwireless/images/background.jpg);
        background-repeat: repeat-x;
        color: white;
      }
      #canvas { height: 450px; width: 100%; margin-top: 112px;}
    </style>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
    </script>

    <script src="//maps.googleapis.com/maps/api/js?v=3.exp&sensor=true">
    </script>

    <script src="{{ static_url('map.js') }}"></script>
  </head>

  <body>
    <center>
      <br>
      <br>
      <h1>OpenWireless.org Map</h1>
      <h3> > <a href='/add'>Add your router to the map</a> < </h3>
    </center>

    <div id=canvas></div>
  </body>
</html>
